{% extends "layout.html" %}

{% block body %}
<div>
    <a href="/registrants">registrants</a>
    <h1>Fill out this form</h1>
</div>
<div>
    <form method="post">
        <div>
            <label for="first name">First Name</label><br>
            <input type="text" id="first name" name="first_name" placeholder="first_name" required>
        </div>
        <br>
        <div>
            <label for="last name">Last Name</label> <br>
            <input type="text" id="first name" name="last_name" placeholder="last_name" required>
        </div>
        <br>
        <div>
            <label for="number">Phone Number</label><br>
            <input type="tel" id="phone" name="phone_number" placeholder="XXX-XXX-XXXX" patttern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
        </div>
        <br>
        <div>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required>
        </div>
        <br>
        <div>
            <label for="passowrd">Password:</label><br>
            <input type="password" id="password" name="password" placeholder="8-16 characters long" minlength="8" maxlength="16" required>
        </div>
        <br>
        <button style="width: 100px; height: 30px;" type="submit">submit</button>
    </form>
</div>
{% endblock%}